<%= render :partial=>"header" %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid post">
      <div class="span2">
        <%= render :partial => helper_check_permission(current_user) %>
      </div>
      <div class="span10">
        <div class="alert alert-info" style="height:18px"><p>当前时间:<%= Time.new().to_s(:long) %></p></div>
        <% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>名称</th>
              <th>内容</th>
              <th>状态</th>
              <th>时间</th>
              <th>功能</th>
            </tr>
            <tbody>
              <% if @infos %>
                <% for info in @infos %>
                  <tr>
                    <td><%= info.id %></td>
                    <td><%= info.title %></td>
                    <td><%= truncate(info.detail,:length=>20)%></td>
                    <td><%= help_show_info_status(info) %></td>
                    <td><%= info.created_at.to_s(:short) %></td>
                    <td>
                      <%= link_to "编辑",:action=>"modify_info",:controller=>"admin",:id=>info.id %>|
                      <% if info.status %>
                        <%= link_to "撤销",:action=>"unactive_info",:controller=>"admin",:id=>info.id %>|
                      <% else %>
                        <%= link_to "显示",:action=>"active_info",:controller=>"admin",:id=>info.id %>|
                      <% end %>
                      <%= link_to "删除",:action=>"delete_info",:controller=>"admin",:id=>info.id %>|
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<%= render :partial=>"footer" %>
