<%= render :partial=>"header" %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid post">
      <div class="span2">
        <%= render :partial => helper_check_permission(1) %>
      </div>
      <div class="span10">
        <div class="alert alert-info" style="height:18px"><p>当前时间:<%= Time.new().to_s(:long) %></p></div>
        <%= form_for :article,:url=>{:action=>:modify_save},:html=>{:class=>"form-horizontal"}  do |f| %>
         <% if @article.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
            <ul>
              <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <legend>编辑博客</legend>
        <fieldset>
          <div class="control-group">
            <label class="control-label addform">标题</label>
            <div class="controls add">
              <%= f.text_field :title,:class=>"input input-xlarge" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label addform">内容</label>
            <div class="controls add">
              <%= f.text_area :content,:rows=>23,:cols=>200,:id=>"content" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label addform">分类</label>
            <div class="controls add">
              <%= f.select :category_id,category_options %>
            </div>
          </div>
            <div class="control-group">
            <label class="control-label addform">状态</label>
            <div class="controls add">
              <%=f.select :status,Article::STATUS,:prompt => "请选择文章状态"  %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label addform">标签</label>
            <div class="controls add">
              <%= f.text_field :tag_list,:class=>"input input-xxlarge" %>
              <p class="help-block">填写文章标签，以逗号(,)分隔就好</p>
            </div>
          </div>
          <input id="id" name="id" type="hidden" value="<%= @article.id %>">
          <div class="control-group">
            <div class="controls add">
              <%= f.submit "提交",:class=>"btn btn-success",:name=>"submit" %>
            </div>
          </div>


        </fieldset>
    <% end %>
      </div>
    </div>
  </div>
</div>
<%= render :partial=>"footer" %>
