<%= render :partial=>"header" %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid post">
      <div class="span2">
        <%= render :partial => helper_check_permission(current_user) %>
      </div>
      <div class="span10">
        <div class="alert alert-info" style="height:18px"><p>当前时间:<%= Time.new().to_s(:long) %></p></div>
        <%= form_for :comment,:html=>{:class=>"form-horizontal"},:authenticity_token =>false  do |f| %>
          <legend>查看评论</legend>
          <fieldset>
          <div class="control-group">
            <label class="control-label addform">名称</label>
            <div class="controls add">
              <%= f.text_field :title,:class=>"input input-xlarge" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label addform">内容</label>
            <div class="controls add">
              <%= f.text_field :body,:class=>"input input-xxlarge" %>
            </div>
            </div>
            <div class="control-group">
              <label class="control-label addform">时间</label>
            <div class="controls add">
              <%= f.text_field :created_at,:class=>"input input-xlarge" %>
            </div>
          </div>
          <% if @comment %>
            <input type="hidden" name="id" value="<%= @comment.id %>">
          <% end %>
          <div class="control-group">
            <label class="control-label addform">功能</label>
            <div class="controls add">
              <%= link_to "通过",:action=>"confirm_comment",:controller=>"admin",:id=>@comment.id %>|
              <%= link_to "删除",:action=>"delete_comment",:controller=>"admin",:id=>@comment.id %>|
              <%= link_to "返回",:action=>"comment_man",:controller=>"admin" %>
            </div>
          </div>
        </fieldset>
    <% end %>
      </div>
    </div>
  </div>
</div>
<%= render :partial=>"footer" %>
