<div class= "box">
  <h2 class="title">Info</h2>
  <ul class="unstyled">
    <div class="pinfo"><i class="icon-heart"> </i><%= get_infos%></div>
  </ul>
</div>
<div class= "box">
  <h2 class="title">博客分类</h2>
  <ul class="unstyled">
    <% if @categories %>
      <% for category in @categories %>
        <li><i class="icon-book"></i> <%= link_to category.categoryName,:action=>"list_with_category",:id=>category.id %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="box tags">
  <h2 class="title">标签</h2>
  <ul class="unstyled">
    <% if @tags %>
      <% for t in @tags %>
        <li><%= link_to t.name,:action=>"list_with_tag",:tag=>t.name %><li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="box">
  <h2 class="title">近期评论</h2>
  <ul class="unstyled">
    <% if @comments %>
      <% for comment in @comments %>
        <li><i class="icon-pencil"></i> <%= comment.nikename %>评论了<%= link_to truncate((comment.article).title,:length=>20),:action=>"view",:id=>(comment.article).id %></li>
      <% end %>
    <% end %>
</ul>
</div>
<div class="box">
  <h2 class="title">我的连接</h2>
  <ul class="unstyled">
    <% if @links %>
      <% for link in @links %>
        <li><a href="<%= link.url %>"><i class="icon-home"></i><%= link.title %></a></li>
        <% end %>
      <% end %>
</ul>
</div>
<div class="box">
  <h2 class="title">日历</h2>
  <%=raw calendar(:year=>(Time.zone || Time).now.year, :month =>(Time.zone || Time).now.month, :table_class => "calendar") %>
</div>

