<h1>Post#index</h1>
<p>Find me in app/views/post/index.html.erb</p>
<% if @articles %>
  <div >
    <% @articles.each do |article| %>
      <h3><%= article.title %></h3>
      <span>
        <label>created at<%= article.created_at.to_date%></label>
        <label>caregory:<%= article.category.categoryName %></label>
        <label>comment:<%= article.comment.count %></label>
      </span>
      <p><%= article.content%></h3>
    <div>Tags:<% article.tags.each do |tag| %>
        <span><%= tag.name %></span>
      <% end %>
    </div>
  <% end %>
</div>
<%end%>

