<%= render :partial =>"share/header" %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8">
        <%= form_for @user,:method =>:post,:url=>{:action=>"register"},:html=>{:class=>"form-horizontal",:id=>"userform"} do |f| %>
          <fieldset>
            <legend>用户注册</legend>
            <div class="control-group">
              <%= f.label :userName,"用户名称",:class=>"control-label" %>
              <div class="controls">
                <%= f.text_field :userName,:class=>"input-xlarge" %>
              </div>
            </div>
             <div class="control-group">
              <%= f.label :userPassword,"用户密码",:class=>"control-label" %>
              <div class="controls">
                <%= f.password_field :userPassword,:class=>"input-xlarge" %>
              </div>
            </div>
              <div class="control-group">
              <%= f.label :email,"电子邮件",:class=>"control-label" %>
              <div class="controls">
                <%= f.text_field :email,:class=>"input-xlarge" %>
              </div>
            </div>
              <div class="control-group">
              <%= f.label :userDesc,"备注信息",:class=>"control-label" %>
              <div class="controls">
                <%= f.text_field :userDesc,:class=>"input-xlarge" %>
              </div>
            </div>
              <div class="control-group">
              <div class="controls">
                <%= f.submit "注册",:class=>"btn btn-success" %>
              </div>
            </div>
            </fieldset>
          <% end %>
        </div>
      </div>
      <div class="span4">
        <%= render :partial =>"sideinfo" %>
      </div>
      <%= render :partial=>"share/footer" %>
    </div>
  </div>
</div>
